.cabecalho{
    height: 115px;
   
}
.container__cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho__div{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.botao__login{
    border:solid 1px #2A7AE4;
    width: 182px;
    height: 1.2rem;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: #2A7AE4;
    vertical-align: middle;
}
.busca{
    width: 50%;
    padding: 8px 4px;
    border: solid 1px #f5f5f5;
    border-radius: 10px;
    background-color: #F5F5F5;

}
.busca:focus{
    outline: none;
    box-shadow: 0 0 0 0;
}