.rodape{
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.rodape p{
    text-align: center;
    
}
.data{
    margin-top: 4px;
}